@{
	ViewBag.Title = T("WEBSITE_NAME");
}

@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

@section styles {
	<style>
		[main] {
			background-color: #f9f9f9;
		}

		[drawer] {
			background-color: #ffffff;
		}

		google-map {
			display: block;
			height: 400px;
			width: 400px;
		}
		google-chart {
			height: 300px;
			width: 50em;
		}
	</style>
	<link rel="stylesheet" href="/css/app.css">
}

<template is="auto-binding" id="tmpl">
	<!-- Keyboard nav controller. -->
	@*<core-a11y-keys id="keys" target="{{parentElement}}" keys="up down left right space space+shift" on-keys-pressed="{{keyHandler}}"></core-a11y-keys>*@

	<core-drawer-panel id="drawerPanel">
		<core-header-panel drawer>
			<core-toolbar>
				<a href="{{urlFor('home')}}" class="logo" style="text-decoration:none; color:white;">
					<paper-button>
						<core-icon icon="custom-icons:fancy-circles"></core-icon>
						<span class="work">Work</span><span class="marketing">Marketing</span><span class="net">Net</span>
					</paper-button>
				</a>
			</core-toolbar>
			<core-menu>
				<core-item icon="home" label="@T("Dashboard")" route="home">
					<a href="{{urlFor('home')}}"></a>
				</core-item>
				<core-item icon="communication:business" label="@T("Companies")" route="portfolio">
					<a href="{{urlFor('users')}}"></a>
				</core-item>
				<core-item icon="perm-contact-cal" label="@T("Contacts")" route="portfolio">
					<a href="{{urlFor('users')}}"></a>
				</core-item>
				<core-item icon="av:my-library-books" label="@T("Books")" route="portfolio">
					<a href="{{urlFor('users')}}"></a>
				</core-item>
				<core-item icon="av:video-collection" label="@T("Videos")" route="videos">
					<a href="{{urlFor('videos')}}"></a>
				</core-item>
				<core-item icon="av:web" label="@T("Website")" route="portfolio">
					<a href="{{urlFor('users')}}"></a>
				</core-item>
				<core-item icon="event" label="@T("Events")" route="events">
					<a href="{{urlFor('events')}}></a>
				</core-item>
				<core-item icon="social:people" label="@T("Users")" route="portfolio">
					<a href="{{urlFor('users')}}"></a>
				</core-item>
				@*<core-item label="Contact" route="contact">
						<a href="{{urlFor('contact')}}"></a>
					</core-item>*@
				<core-item icon="editor:format-quote" label="@T("Quotes")" route="quotes">
					<a href="{{urlFor('quotes')}}"></a>
				</core-item>
			</core-menu>
		</core-header-panel>
		<core-header-panel main>
			<core-toolbar>
				<paper-icon-button icon="menu" core-drawer-toggle></paper-icon-button>
				<div class="bottom indent">{{heading}}</div>
				<paper-icon-button icon="search"></paper-icon-button>
				@*<paper-icon-button icon="favorite" style="color: red;">Log in</paper-icon-button>*@
			</core-toolbar>
			<div class="content">
				<more-route-selector selectedparams="{{params}}">
					<core-pages flex>
						<section route="home">
							<h1>Home</h1>
							<div>Home content</div>
							@*<google-chart type="pie"
										  options="{'title': 'Distribution of days in 2001Q1''}"
										 data='[["Month", "Days"], ["Jan", 31], ["Feb", 28], ["Mar", 31]]'>
							</google-chart>*@
						</section>
						<section route="users">
							<h1>Portfolio</h1>
							<div>Portfolio content</div>
							<a href="{{urlFor('user-info', {name: 'Jacek'})}}">Jacek</a>
							<core-list data="{{data}}" flex style="height:500px">
								<template>
									<div class="row" layout horizontal center>
										<core-image class="avatar" src="{{model.avatar}}" preload sizing="cover" style="width: 40px;height: 40px;margin-right: 16px;"></core-image>
										<div>{{model.name}}</div>
									</div>
								</template>
							</core-list>
						</section>
						<section route="user-info">
							<h1>User: {{params.name}}</h1>
							<div>This is {{params.name}}'s section</div>
						</section>
						<section route="contact">
							<h1>Contact</h1>
							<div>Contact content</div>
						</section>
						<section route="quotes">
							<h1>@T("Quotes")</h1>
							<paper-fab icon="add" style="color: white;"></paper-fab>
						</section>
						<section route="videos">
							<h1>@T("Videos")</h1>
							<google-youtube videoid="twq8ovP9YX0"
											height="270px"
											width="480px"
											rel="0"
											start="5"
											autoplay="0">
							</google-youtube>
						</section>
						<section route="events">
							<h1>@T("Events")</h1>
							<google-map latitude="37.779" longitude="-122.3892"></google-map>
						</section>
					</core-pages>
				</more-route-selector>
			</div>
		</core-header-panel>
</template>

@section scripts{
	<script src="/lib/faker/build/build/faker.js"></script>
	<script src="/js/app.js"></script>
}
