@{
	ViewBag.Title = T("WEBSITE_NAME");
}

@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

<span id="browser-sync-binding"></span>
<template is="dom-bind" id="app">

	<paper-drawer-panel id="paperDrawerPanel">
		@Html.Partial("_Menu")
		@Html.Partial("~/Views/Companies/_Menu")
		<paper-header-panel main mode="waterfall-tall">
			@Html
			@Html.Partial("_Toolbar")

			<!-- Main Content -->
			<div class="content">
				<iron-pages attr-for-selected="data-route" selected="{{route}}">
					@Html.Partial("_Home")
					@Html.Partial("~/Views/Companies/_List")
					@Html.Partial("~/Views/Companies/_Details")
					@Html.Partial("~/Views/Companies/_Products")
                    @Html.Partial("~/Views/People/_List")
					@Html.Partial("~/Views/People/_Details")
                    @Html.Partial("~/Views/Books/_List")
                    @Html.Partial("~/Views/Books/_Details")
                    @Html.Partial("~/Views/Videos/_List")
                    @Html.Partial("~/Views/Videos/_Details")
                    @Html.Partial("~/Views/Events/_List")
                    @Html.Partial("~/Views/Events/_Details")
                    @Html.Partial("~/Views/Quotes/_List")
					@Html.Partial("~/Views/Quotes/_Details")
                    @Html.Partial("~/Views/Wiki/_List")
                    @Html.Partial("~/Views/Wiki/_Details")
					@Html.Partial("~/Views/Account/_Signup")
                    @Html.Partial("~/Views/Account/_Signin")
                    @Html.Partial("~/Views/Contact/_Index")
                    @Html.Partial("~/Views/Users/_List")
                    @Html.Partial("~/Views/Users/_Details")
                    @Html.Partial("_Website")

					@Html.Partial("~/Views/Test/_Index")
				</iron-pages>
			</div>
		</paper-header-panel>
	</paper-drawer-panel>
	@Html.Partial("_ServiceWorker")
</template>

<!-- build:js scripts/app.js -->
<script src="scripts/app.js"></script>
<!-- endbuild-->