@{
	ViewBag.Title = T("WEBSITE_NAME");
}

@inject WorkMarketingNet.Localization.Core.ILocalizationService Localization

@functions{
	string T(string text, params object[] args) { return Localization.Translate(text, args); }
}

<span id="browser-sync-binding"></span>
<template is="dom-bind" id="app">

	<paper-drawer-panel id="paperDrawerPanel">
		@Html.Partial("_Menu")
		<paper-header-panel main mode="waterfall-tall">

			@Html.Partial("_Toolbar")

			<!-- Main Content -->
			<div class="content">
				<iron-pages attr-for-selected="data-route" selected="{{route}}">
					@Html.Partial("_Home")
					@Html.Partial("_Companies")
					@Html.Partial("_Company")
					@Html.Partial("_People")					
					@Html.Partial("_Books")
					@Html.Partial("_Videos")
					@Html.Partial("_Video")
					@Html.Partial("_Events")
					@Html.Partial("_Event")
					@Html.Partial("_Quotes")
					@Html.Partial("_Wiki")
					@Html.Partial("_WikiArticle")

					@Html.Partial("_Signup")
					@Html.Partial("_Contact")
					@Html.Partial("_Users")
					@Html.Partial("_UserInfo")
					@Html.Partial("_Website")
				</iron-pages>
			</div>
		</paper-header-panel>
	</paper-drawer-panel>
	@Html.Partial("_ServiceWorker")
</template>

<!-- build:js scripts/app.js -->
<script src="scripts/app.js"></script>
<!-- endbuild-->